.btn {
  &-cta {
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    box-shadow: inset 0 -4px 0 rgba(#000, 0.1);
    letter-spacing: -0.01em;
    text-shadow: 1px 1px 1px rgba(#000, 0.1);
    padding: 11px 15px 13px;
    line-height: 18px;
  }

  &-energy {
    background-color: $fountain;
    color: $white !important;
    box-shadow: inset 0 -4px 0 rgba(#000, 0.1);
    border: none;
  }

  &-summitt {
    background-color: $smokey;
    color: $white !important;
    border: none;
  }
}
