header.banner {
  background-color: $white;
  box-shadow: $box-shadow-float;
  padding: 15px 0;
  border-top: 6px solid $orange;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.brand {
  display: flex;
  align-items: center;

  &--logo {
    width: 200px;
    margin-right: 30px;
  }

  &--unit {
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
}
